* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
@keyframes move {
    from{

    }

    to{
        
    }
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(./benjamin-voros-phIFdC6lA4E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Helvetica";
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay>h1 {
    font-size: 12vmax;

}

.hr {
    display: flex;
    margin-right: 5%;
}

.hr>p {
    margin: 1% 3%;
    padding: 0 5%;
}

.hr>p:nth-child(2) {
    border-right: 2px solid white;
    border-left: 2px solid white;

}

.codenpixel {
    display: flex;
    margin-top: 5%;
}

.codenpixel>p {
    margin: 0 5%;
}

.hfour {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.hfour>hr {
    width: 4vmax;
}

.four {
    font-size: 2vmax;
    margin: 0 4%;
}

.containerone{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    
}

.T{
    font-size: 3vmax;
    border: 3px solid black;
    padding: 0 5px;
    font-weight: 100;
}

hr{
    margin-top: 1%;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.text>p{
    width: 37%;
    text-align: center;
    margin-top: 2%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.box>i{
    font-size: 4vmax;
    margin: 1%;
}

.box>hr{
    margin: 25% 0;
    width: 100%;
    height: .3vmax;
    color: black;
    background-color: black;
}

.containertwo{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
}

.left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}

.left>p{
    margin: 8% 0;
}



.left>button{
    color: black;
    background-color: white;
    padding: 1vmax 1.5vmax;
    border-radius: 20px;
    margin-right: 60%;
    transition: .5s;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(135, 26, 26);
}

.right{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
}

.right>img{
    width: 30%;
    height: 40%;
    
}
